<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 场景码 <span class="c-gray en">&gt;</span> 粉丝列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            关注时间：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'datemax\')||\'%y-%M-%d\' }' })" id="datemin" value="{$Think.get.datemin}" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'datemin\') }' })" id="datemax" value="{$Think.get.datemax}" class="input-text Wdate" style="width:120px;">
            <span class="select-box inline" style="width: 120px;">
                <select name="subscribe" id="subscribe" class="select">
                    <option value="">全部状态</option>
                    <option value="1" {if $param['subscribe'] === '1'}selected{/if}>已关注</option>
                    <option value="0" {if $param['subscribe'] === '0'}selected{/if}>已取关</option>
                </select>
            </span>
            <span class="select-box inline" style="width: 120px;">
                <select name="subscribe" id="scene_id" class="select">
                    <option value="">全部场景</option>
                    {foreach $scene_list as $li}
                    <option value="{$li.id}" {if $param['subscribe'] == $li['id']}selected{/if}>{$li.scene_name}</option>
                    {/foreach}
                </select>
            </span>
            <input type="text" name="search" value="{$param['search']}" id="search" placeholder="昵称" style="width:200px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找用户</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">

        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="44">头像</th>
            <th>昵称</th>
            <th width="80">性别</th>
            <th width="130">关注时间</th>
            <th width="130">取关时间</th>
            <th width="130">场景来源</th>
            <th width="60">状态</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td>
                    <img src="{$li.avatar}" style="width: 44px;height: 44px;border-radius: 50%">
                </td>
                <td>{$li.nickname}</td>
                <td>
                    {switch $li['sex']}
                    {case 1}男{/case}
                    {case 0}女{/case}
                    {default /}保密
                    {/switch}
                </td>
                <td>{$li.sub_time|date='Y-m-d H:i:s'}</td>
                <td>{if $li['unsub_time']}{$li.unsub_time|date='Y-m-d H:i:s'}{/if}</td>
                <td>{$li.scene_name}</td>
                <td>
                    {switch $li['subscribe']}
                    {case 1}已关注{/case}
                    {case 0}已取关{/case}
                    {default /}
                    {/switch}
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="12" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Qrcode/userList")}' + '?<?php echo $page["query"];?>',totalPage = '{$page.totalPage}';
    var curr = '{$page.curr}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var subscribe = $("#formAjax").find("#subscribe").val();
        var scene_id = $("#formAjax").find("#scene_id").val();
        var datemin = $("#formAjax").find("#datemin").val();
        var datemax = $("#formAjax").find("#datemax").val();
        var search = $("#formAjax").find("#search").val();

        var str = '';
        if(subscribe.length != '') {
            str += '&subscribe=' + subscribe
        }
        if(scene_id.length != '') {
            str += '&scene_id=' + scene_id
        }
        if(datemin.length != '') {
            str += '&datemin=' + datemin
        }
        if(datemax.length != '') {
            str += '&datemax=' + datemax
        }
        if(search.length != '') {
            str += '&search=' + search
        }
        window.location.href = '{:url("Qrcode/userList")}' + '?' + str;
    });




</script>