<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
    {if session('username')===config('superman')}
        <dl id="menu-plat">
            <dt><i class="iconfont">&#xe606;</i> 平台设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Plat/slideList')}" data-title="轮播图" href="javascript:void(0);">轮播图</a></li>
                    <li><a data-href="{:url('Plat/aboutUs')}" data-title="关于我们" href="javascript:void(0);">关于我们</a></li>
                    <li><a data-href="{:url('Plat/bloodMod')}" data-title="其他图片" href="javascript:void(0);">其他图片</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-card">
            <dt><i class="iconfont">&#xe607;</i> 卡牌管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Card/cardList')}" data-title="卡牌列表" href="javascript:void(0);">卡牌列表</a></li>
                    <li><a data-href="{:url('Card/attrList')}" data-title="卡牌属性" href="javascript:void(0);">卡牌属性</a></li>
                    <li><a data-href="{:url('Card/abilityList')}" data-title="卡牌能力" href="javascript:void(0);">卡牌能力</a></li>
                    <li><a data-href="{:url('Card/campList')}" data-title="卡牌阵营" href="javascript:void(0);">卡牌阵营</a></li>
                    <li><a data-href="{:url('Card/typeList')}" data-title="卡牌类型" href="javascript:void(0);">卡牌类型</a></li>
                    <li><a data-href="{:url('Card/versionList')}" data-title="卡牌版本" href="javascript:void(0);">卡牌版本</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="iconfont">&#xe605;</i> 平台内容<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Article/articleList')}" data-title="新闻公告" href="javascript:void(0);">新闻公告</a></li>
                    <li><a data-href="{:url('Article/gameRule')}" data-title="规则协议" href="javascript:void(0);">规则协议</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-shop">
            <dt><i class="iconfont">&#xe620;</i> 商城管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Shop/orderList')}" data-title="订单管理" href="javascript:void(0);">订单管理</a></li>
                    <li><a data-href="{:url('Shop/goodsList')}" data-title="商品列表" href="javascript:void(0);">商品列表</a></li>
                    <li><a data-href="{:url('Shop/cateList')}" data-title="商品分类" href="javascript:void(0);">商品分类</a></li>
                    <li><a data-href="{:url('Shop/versionList')}" data-title="商品版本" href="javascript:void(0);">商品版本</a></li>
                    <li><a data-href="{:url('Shop/commentList')}" data-title="商品评论" href="javascript:void(0);">商品评论</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="iconfont">&#xe60c;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('User/userList')}" data-title="用户列表" href="javascript:void(0);">用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-weixin">
            <dt><i class="iconfont">&#xe65a;</i> 公众号<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Qrcode/sceneList')}" data-title="场景码" href="javascript:void(0);">场景码</a></li>
                    <li><a data-href="{:url('Qrcode/userList')}" data-title="粉丝列表" href="javascript:void(0);">粉丝列表</a></li>
                </ul>
            </dd>
        </dl>
        <!--<dl id="menu-admin">-->
            <!--<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a data-href="{:url('Admin/adminlist')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>-->
                    <!--<li><a data-href="{:url('Admin/grouplist')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>-->
                    <!--<li><a data-href="{:url('Admin/rulelist')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!--<dl id="menu-system">-->
            <!--<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a data-href="{:url('System/syslog')}" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->

    {else /}



    {/if}

    </div>
</aside>