<style>
    .thumbnail{ width:100px;}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>阵营名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.camp_name}" placeholder="" id="camp_name" name="camp_name" maxlength="50">
            </div>
        </div>
        <div class="row cl" id="picsize">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <span style="font-size: 16px">
                    (建议尺寸: 44*44)
                </span>
            </div>
        </div>
        <div class="row cl" id="pic">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary btn-uploadstar radius ml-10">属性图标</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                        <img class="thumbnail" src="/{$info.icon}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id}">
        <input type="file" name="file" id="file" value="" style="display: none">
    </form>
</article>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/checkfile.js"></script>
<script type="text/javascript">

    $(function(){

        var isclick = true;
        //表单验证
        $("#form-article-add").validate({
            rules:{
                camp_name:{
                    required:true,
                    maxlength:50
                }
            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false;
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Card/campMod')}" ,
                        success: function(data){
                            // console.log(data.data);isclick=true;return;
                            if(data.code == 1) {
                                layer.msg('保存成功!',{icon:1,time:1000},function () {
                                    window.parent.location.reload()
                                });
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true
                            }

                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });

        $("#btn-star").click(function(){
            $("#file").click();
        });
        $("#file").change(function(e){
            if ($("#file").val()) {
                if(checkfile('file',20) !== true) {
                    $("#file").val('');
                    $("#fileList").html('');
                    return false
                }
                var img = e.target.files[0];
                var src = window.URL.createObjectURL(img);
                $("#fileList").html('<img class="thumbnail" src="'+src+'">');
            }else {
                $("#fileList").html('');
            }
        });



    });
</script>