<style>
    .thumbnail{ width:300px;}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所属阵营：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="camp_id" id="camp_id">
                        {foreach $card_camp as $li}
                        <option value="{$li.id}" {if $info['camp_id'] == $li['id']}selected{/if}>{$li.camp_name}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">消耗资源：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="resource" id="resource">
                        {foreach $card_resource as $li}
                        <option value="{$li}" {if $info['resource'] == $li}selected{/if}>{if $li == -1}x{elseif  $li == -2 /}资源-事件{else /}{$li}{/if}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">卡牌类型：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="type_id" id="type_id">
                        <option value="0" >请选择类型</option>
                        {foreach $card_type as $li}
                        <option value="{$li.id}" {if $info['type_id'] == $li['id']}selected{/if}>{$li.type_name}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="wushuang" id="wushuang">
                        <option value="0" {if $info['wushuang'] == '0'}selected{/if}>非无双</option>
                        <option value="1" {if $info['wushuang'] == '1'}selected{/if}>无双</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">卡牌属性：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="attr_id" id="attr_id">
                        {foreach $card_attr as $li}
                        <option value="{$li.id}" {if $info['attr_id'] == $li['id']}selected{/if}>{$li.attr_name}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">卡牌能力：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="ability_id" id="ability_id">
                        {foreach $card_ability as $li}
                        <option value="{$li.id}" {if $info['ability_id'] == $li['id']}selected{/if}>{$li.ability_name}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">卡牌版本：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="version_id" id="version_id">
                        <option value="0" >请选择版本</option>
                        {foreach $card_version as $li}
                        <option value="{$li.id}" {if $info['version_id'] == $li['id']}selected{/if}>{$li.version_name}</option>
                        {/foreach}
                    </select>
                </span>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>卡牌名字：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.card_name}" placeholder="" id="card_name" name="card_name" maxlength="50">
            </div>
        </div>
        <div class="row cl" id="picsize">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <span style="font-size: 16px">
                    (建议尺寸: 585*817)
                </span>
            </div>
        </div>
        <div class="row cl" id="pic">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary btn-uploadstar radius ml-10">卡牌图片一</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                        <img class="thumbnail" src="/{$info.pic}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <span style="font-size: 16px">
                    (建议尺寸: 180*120)
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star2" class="btn btn-primary btn-uploadstar radius ml-10">卡牌图片二</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList2" class="uploader-list">
                        <img class="thumbnail" src="/{$info.cover}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">卡牌简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="desc" cols="" rows="" class="textarea" maxlength="1000" placeholder="" oninput="this.value.length<=1000?$('#textlen1').text(this.value.length):$('#textlen1').text(1000)" >{$info.desc}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length" id="textlen1">0</em>/1000</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span></label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="desc_show" type="radio" id="desc-1" value="1" {if $info['desc_show'] == '1'}checked{/if}>
                    <label for="desc-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="desc_show" type="radio" id="desc-2" value="0" {if $info['desc_show'] == '0'}checked{/if}>
                    <label for="desc-2">隐藏</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">卡牌科普：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="origin" cols="" rows="" class="textarea" maxlength="1000" placeholder="" oninput="this.value.length<=1000?$('#textlen2').text(this.value.length):$('#textlen2').text(1000)" >{$info.origin}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length" id="textlen2">0</em>/1000</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span></label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="origin_show" type="radio" id="origin-1" value="1" {if $info['origin_show'] == '1'}checked{/if}>
                    <label for="origin-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="origin_show" type="radio" id="origin-2" value="0" {if $info['origin_show'] == '0'}checked{/if}>
                    <label for="origin-2">隐藏</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">Q&A：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="qa" cols="" rows="" class="textarea" maxlength="1000" placeholder="" oninput="this.value.length<=1000?$('#textlen3').text(this.value.length):$('#textlen3').text(1000)" >{$info.qa}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length" id="textlen3">0</em>/1000</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span></label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="qa_show" type="radio" id="qa-1" value="1" {if $info['qa_show'] == '1'}checked{/if}>
                    <label for="qa-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="qa_show" type="radio" id="qa-2" value="0" {if $info['qa_show'] == '0'}checked{/if}>
                    <label for="qa-2">隐藏</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-1" value="1" checked>
                    <label for="sex-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-2" value="0">
                    <label for="sex-2">隐藏</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="file" name="file" id="file" style="display: none;">
        <input type="file" name="file2" id="file2" style="display: none;">
        <input type="hidden" name="id" value="{$info.id}">
    </form>
</article>

<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/lib/checkfile.js"></script>
<script type="text/javascript">
    $(function(){

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        var isclick = true;
        //表单验证
        $("#form-article-add").validate({
            rules:{
                card_name:{
                    required:true,
                    maxlength:50
                },
                desc: {
                    required:true,
                    maxlength:1000
                }
            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if($("#type_id").val() == '0') {layer.msg('请选择一个类型',{time:1000});return false;}
                if($("#version_id").val() == '0') {layer.msg('请选择一个版本',{time:1000});return false;}
                if(isclick === true) {
                    isclick = false;
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Card/cardMod')}" ,
                        success: function(data){
                            // console.log(data.data);isclick=true;return;
                            if(data.code == 1) {
                                layer.msg('保存成功!',{icon:1,time:1000},function () {
                                    window.parent.location.reload()
                                });
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true
                            }

                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('error!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });


        $("#btn-star").click(function(){
            $("#file").click();
        });
        $("#file").change(function(e){
            if ($("#file").val()) {
                if(checkfile('file',128) !== true) {
                    $("#file").val('');
                    $("#fileList").html('');
                    return false
                }
                var img = e.target.files[0];
                var src = window.URL.createObjectURL(img);
                $("#fileList").html('<img class="thumbnail" src="'+src+'">');
            }else {
                $("#fileList").html('');
            }
        });

        $("#btn-star2").click(function(){
            $("#file2").click();
        });
        $("#file2").change(function(e){
            if ($("#file2").val()) {
                if(checkfile('file2',128) !== true) {
                    $("#file2").val('');
                    $("#fileList2").html('');
                    return false
                }
                var img = e.target.files[0];
                var src = window.URL.createObjectURL(img);
                $("#fileList2").html('<img class="thumbnail" src="'+src+'">');
            }else {
                $("#fileList2").html('');
            }
        });

        var textlen1 = $("textarea[name='desc']").val().length;
        var textlen2 = $("textarea[name='origin']").val().length;
        var textlen3 = $("textarea[name='qa']").val().length;

        $("#textlen1").text(textlen1);
        $("#textlen2").text(textlen2);
        $("#textlen3").text(textlen3);

    });
</script>