<style>
    .attr-prefix{width: 100px;flex-shrink:0;font-weight: bold}
    .attr-prefix-item{flex-grow: 1;}
    .icheckbox-blue{top:2px;}
    .formControls {display: flex;margin-bottom: 15px}
    .card-attr-icon {width:35px;height:35px;}
    .card-ability-icon {width:79px;height:30px;}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 卡牌管理 <span class="c-gray en">&gt;</span> 卡牌列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder="卡牌名字" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找卡牌</button>
            <br>
            <br>
            <div class="text-l formControls">
                <div class="attr-prefix">卡牌属性：</div>
                <div class="attr-prefix-item" id="attr_id">
                    <?php $attr_id_arr=explode(',',$param['attr_id']);?>
                    {foreach $card_attr as $v}
                    <div class="radio-box">
                        <input type="checkbox" value="{$v.id}" name="attr_id[]" id="attr-{$v.id}" {if in_array(strval($v['id']),$attr_id_arr,true)}checked{/if}>
                        <label for="attr-{$v.id}"><img class="card-attr-icon" src="/{$v.icon}" alt="" title="{$v.attr_name}"></label>
                    </div>
                    {/foreach}
                </div>
            </div>
            <div class="text-l formControls">
                <div class="attr-prefix">消耗资源：</div>
                <div class="attr-prefix-item" id="resource">
                    <?php $resource_arr=explode(',',$param['resource']);?>
                    <div class="radio-box">
                        <input type="checkbox" value="-1" name="resource[]" id="resource--1">
                        <label for="resource--1">x</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="0" name="resource[]" id="resource-0">
                        <label for="resource-0">0</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="1" name="resource[]" id="resource-1">
                        <label for="resource-1">1</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="2" name="resource[]" id="resource-2">
                        <label for="resource-2">2</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="3" name="resource[]" id="resource-3">
                        <label for="resource-3">3</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="4" name="resource[]" id="resource-4">
                        <label for="resource-4">4</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="5" name="resource[]" id="resource-5">
                        <label for="resource-5">5</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="6" name="resource[]" id="resource-6">
                        <label for="resource-6">6</label>
                    </div>
                    <div class="radio-box">
                        <input type="checkbox" value="7" name="resource[]" id="resource-7">
                        <label for="resource-7">7+</label>
                    </div>
                </div>
            </div>
            <div class="text-l formControls">
                <div class="attr-prefix">卡牌类型：</div>
                <div class="attr-prefix-item" id="type_id">
                    <?php $type_id_arr=explode(',',$param['type_id']);?>
                    {foreach $card_type as $v}
                    <div class="radio-box">
                        <input type="checkbox" value="{$v.id}" name="type_id[]" id="type-{$v.id}" {if in_array(strval($v['id']),$type_id_arr,true)}checked{/if}>
                        <label for="type-{$v.id}">{$v.type_name}</label>
                    </div>
                    {/foreach}
                </div>
            </div>
            <div class="text-l formControls">
                <div class="attr-prefix">所属阵营：</div>
                <div class="attr-prefix-item" id="camp_id">
                    <?php $camp_id_arr=explode(',',$param['camp_id']);?>
                    {foreach $card_camp as $v}
                    <div class="radio-box">
                        <input type="checkbox" value="{$v.id}" name="camp_id[]" id="camp-{$v.id}" {if in_array(strval($v['id']),$camp_id_arr,true)}checked{/if}>
                        <label for="camp-{$v.id}"><img class="card-attr-icon" src="/{$v.icon}" alt="" title="{$v.camp_name}"></label>
                    </div>
                    {/foreach}
                </div>
            </div>
            <div class="text-l formControls">
                <div class="attr-prefix">卡牌能力：</div>
                <div class="attr-prefix-item" id="ability_id">
                    <?php $ability_id_arr=explode(',',$param['ability_id']);?>
                    {foreach $card_ability as $v}
                    <div class="radio-box">
                        <input type="checkbox" value="{$v.id}" name="ability_id[]" id="ability-{$v.id}" {if in_array(strval($v['id']),$ability_id_arr,true)}checked{/if}>
                        <label for="ability-{$v.id}"><img class="card-ability-icon" src="/{$v.icon}" alt="" title="{$v.ability_name}"></label>
                    </div>
                    {/foreach}
                </div>
            </div>
            <div class="text-l formControls">
                <div class="attr-prefix">所属版本：</div>
                <div class="attr-prefix-item" id="version_id">
                    <?php $version_id_arr=explode(',',$param['version_id']);?>
                    {foreach $card_version as $v}
                    <div class="radio-box">
                        <input type="checkbox" value="{$v.id}" name="version_id[]" id="version-{$v.id}" {if in_array(strval($v['id']),$version_id_arr,true)}checked{/if}>
                        <label for="version-{$v.id}">{$v.version_name}</label>
                    </div>
                    {/foreach}
                </div>
            </div>
            <!--<button name="" class="btn btn-info" type="button" id="toExcel"><i class="Hui-iconfont">&#xe66b;</i> 导出Excel</button>-->
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加卡牌" data-href="article-add.html" onclick="pagefull('添加卡牌','{:url("Card/cardAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加卡牌
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="50">排序</th>
            <th width="80">图片</th>
            <th width="150">卡牌名</th>
            <th width="44">属性</th>
            <th width="120">资源值</th>
            <th width="80">类型</th>
            <th width="44">阵营</th>
            <th width="100">能力</th>
            <th>版本</th>
            <th width="80">状态</th>
            <th width="130">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <div style="width: 80px;height: 120px;background-image: url('/{$li.pic}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                </td>
                <td>{$li.card_name}</td>
                <td>
                    {if isset($attr[$li['attr_id']])}
                    <div style="width: 44px;height: 44px;background-image: url('/{$attr[$li['attr_id']]['icon']}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                    {/if}
                </td>
                <td>
                    {switch $li['resource']}
                    {case -2}无{/case}
                    {case -1}x{/case}
                    {default /}{$li['resource']}
                    {/switch}
                </td>
                <td>{if isset($type[$li['type_id']])}{$type[$li['type_id']]}{/if}</td>
                <td>
                    {if isset($camp[$li['camp_id']])}
                    <div style="width: 44px;height: 44px;background-image: url('/{$camp[$li['camp_id']]['icon']}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                    {/if}
                </td>
                <td>
                    {if isset($ability[$li['ability_id']])}
                    <div style="width: 100px;height: 38px;background-image: url('/{$ability[$li['ability_id']]['icon']}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                    {/if}
                </td>
                <td>{if isset($version[$li['version_id']])}{$version[$li['version_id']]}{/if}</td>
                <td>{$li.status}</td>
                <td>
                    <span>
                        <a title="编辑" href="javascript:;" class="ml-5" style="text-decoration:none" onclick="pagefull('卡牌详情','{:url("Card/cardDetail",array("id"=>$li["id"]))}')">
                    <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                    </span>
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="12" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>

<script type="text/javascript" src="/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">

    var url = '{:url("Card/cardList")}' + '?<?php echo $page["query"];?>',totalPage = '{$page.totalPage}';
    var curr = '{$page.curr}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $(function () {

        $("#search-btn").click(function () {
            var attr_id = [];
            var resource = [];
            var type_id = [];
            var camp_id = [];
            var ability_id = [];
            var version_id = [];
            var search = $("#formAjax").find("#search").val();

            $("#attr_id input:checkbox:checked").each(function () {
                attr_id.push($(this).val());
            }); attr_id = attr_id.join(',');
            $("#resource input:checkbox:checked").each(function () {
                resource.push($(this).val());
            }); resource = resource.join(',');
            $("#type_id input:checkbox:checked").each(function () {
                type_id.push($(this).val());
            }); type_id = type_id.join(',');
            $("#camp_id input:checkbox:checked").each(function () {
                camp_id.push($(this).val());
            }); camp_id = camp_id.join(',');
            $("#ability_id input:checkbox:checked").each(function () {
                ability_id.push($(this).val());
            }); ability_id = ability_id.join(',');
            $("#version_id input:checkbox:checked").each(function () {
                version_id.push($(this).val());
            }); version_id = version_id.join(',');

            var str = '';
            if(attr_id.length != '') { str += '&attr_id=' + attr_id }
            if(resource.length != '') { str += '&resource=' + resource }
            if(type_id.length != '') { str += '&type_id=' + type_id }
            if(camp_id.length != '') { str += '&camp_id=' + camp_id }
            if(ability_id.length != '') { str += '&ability_id=' + ability_id }
            if(version_id.length != '') { str += '&version_id=' + version_id }
            if(search.length != 0) { str += '&search=' + search; }
            //
            window.location.href = '{:url("Card/cardList")}' + '?' + str;
        });

        $("#toExcel").click(function () {
            var datemin = $("#formAjax").find("#datemin").val();
            var datemax = $("#formAjax").find("#datemax").val();
            var search = $("#formAjax").find("#search").val();
            var str = '';
            if(datemin.length != '') {
                str += '&datemin=' + datemin
            }
            if(datemax.length != '') {
                str += '&datemax=' + datemax
            }
            if(search.length != 0) {
                str += '&search=' + search;
            }
            window.location.href = '{:url("Excel/cardToExcel")}' + '?' + str;
        });



        $(".sort").bind('input propertychange', function() {
            var id = $(this).parent().prev().text();
            var sort = $(this).val();
            var rule = /^[0-9]{0,10}$/;
            if(!rule.test(sort)) {
                // $(this).val('')
                alert('排序必须为数字,且不超过10位');
                return;
            }
            $.ajax({
                url:"{:url('Card/sortCard')}",
                type:"post",
                data:{id:id,sort:sort},
                success:function(data) {
                    console.log(data);
                },
                error: function(data) {
                    console.log('接口请求失败!');
                }
            })
        });


    });






</script>