<style>
    .avatar{width: 32px;height: 32px;border-radius:50%; }
</style>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">

        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th>评论内容</th>
            <th width="120">评论时间</th>
            <th width="100">昵称</th>
            <th width="32">头像</th>
            <th width="30">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.comment}</td>
                <td>{$li.create_time|date='Y-m-d H:i'}</td>
                <td>{$li.nickname}</td>
                <td><img src="{if substr($li['avatar'],0,4)=='http'}{$li.avatar}{else /}/{$li.avatar}{/if}" alt="" class="avatar"></td>
                <td class="td-manage">
                    <span>
                        {if $li['status'] == '1'}
                        <a style="text-decoration:none" onClick="comment_hide(this,{$li.id})" href="javascript:;" title="隐藏">
                            <i class="Hui-iconfont">&#xe6de;</i>
                        </a>
                        {else /}
                        <a style="text-decoration:none" onClick="comment_show(this,{$li.id})" href="javascript:;" title="显示">
                            <i class="Hui-iconfont">&#xe603;</i>
                        </a>
                        {/if}
                    </span>
                    <!--<span>-->
                    <!--<a style="text-decoration:none" class="ml-5" onClick="comment_del(this,{$li['id']})" href="javascript:;" title="删除">-->
                    <!--<i class="Hui-iconfont">&#xe6e2;</i>-->
                    <!--</a>-->
                    <!--</span>-->
                </td>
            </tr>
            {/foreach}
        </form>
        <tr>
            <td colspan="10" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Shop/commentList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage = '{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var search = $("#formAjax").find("#search").val();
        var str = '';
        if(search.length != '') {
            str += '&search=' + search;
        }
        window.location.href = '{:url("Shop/commentList")}' + '?' + str;
    });


    /*下架*/
    function comment_hide(obj,id){
        layer.confirm('确认要隐藏吗？',function(index){
            $.ajax({
                url:"{:url('Shop/commentHide')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        $(obj).parent().html('<a style="text-decoration:none" onClick="comment_show(this,'+id+')" href="javascript:;" title="显示"><i class="Hui-iconfont">&#xe603;</i></a>');
                        layer.msg('已隐藏!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                }
            })

        });
    }
    /*上架*/
    function comment_show(obj,id){
        layer.confirm('确认要显示吗？',function(index){
            $.ajax({
                url:"{:url('Shop/commentShow')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        $(obj).parent().html('<a style="text-decoration:none" onClick="comment_hide(this,'+id+')" href="javascript:;" title="隐藏"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        layer.msg('已显示!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                }
            })

        });
    }

    /*分类-删除*/
    function comment_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url: "{:url('Shop/commentDel')}",
                type: 'POST',
                dataType: 'json',
                data:{id:id},
                success: function(data){
                    // console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                }
            });
        });
    }


</script>