<link href="/lib/select2/select2.min.css" rel="stylesheet">
<script src="/lib/select2/select2.min.js"></script>
<style>
    .userinfo>td>img {width:80px;height:80px}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商城管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <span class="select-box inline">
				<select class="select" name="museum_id" id="museum_id" style="width: 200px;">
                    <option value="">全部商户</option>
                    {foreach $museum_list as $li}
                    <option value="{$li.id}" {if $param['museum_id']==$li['id']}selected{/if}>
                            (id:{$li.id}) -
                            {$li.museum_name}
                    </option>
                    {/foreach}
				</select>
            </span>
            <span class="select-box inline" style="width: 120px;">
                <select name="cate_id" id="cate_id" class="select">
                    <option value="">全部</option>
                    {foreach $cate_list as $li}
                    <option value="{$li.id}" {if $param['cate_id'] === $li['id']}selected{/if}>{$li.cate_name}</option>
                    {/foreach}
                </select>
            </span>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 商品名" style="width:250px;height: 28px;line-height: 28px;border-radius: 4px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" style="height: 28px;" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找商品</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加商品" data-href="article-add.html" onclick="pagefull('添加商品','{:url("Shop/goodsAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="50">排序</th>
            <th width="80">商品图片</th>
            <th>商品名称</th>
            <th width="80">商品分类</th>
            <th width="80">商品价格</th>
            <th width="80">库存</th>
            <th width="80">销量</th>
            <th width="120">上市日期</th>
            <th width="60">尖货</th>
            <th width="60">限时</th>
            <th width="60">状态</th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <?php $image = unserialize($li['pics'])[0];?>
                    <div style="width: 80px;height: 80px;background-image: url('/{$image}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                </td>
                <td>{$li.name}</td>
                <td>{$li.cate_name}</td>
                <td>{$li.price}</td>
                <td>{$li.stock}</td>
                <td>{$li.sales}</td>
                <td>{$li.create_time|date='Y年m月d日'}</td>
                <td class="td-jian" onclick="goods_recommend(this,{$li.id})">
                    {if $li['recommend'] == '1'}
                    <span class="iconfont">&#xe612;</span>
                    {else /}
                    <span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>
                    {/if}
                </td>
                <td class="td-limit" onclick="goods_limit(this,{$li.id})">
                    {if $li['time_limit_price'] == '1'}
                    <span class="iconfont">&#xe612;</span>
                    {else /}
                    <span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>
                    {/if}
                </td>
                <td class="td-status">
                    {if $li['status'] == '1'}
                    <span class="label label-success radius">已上架</span>
                    {else /}
                    <span class="label label-defaunt radius">已下架</span>
                    {/if}
                </td>
                <td class="td-manage">
                    {if $li['status'] == '1'}
                    <a style="text-decoration:none" onClick="goods_hide(this,{$li.id})" href="javascript:;" title="下架">
                        <i class="Hui-iconfont">&#xe6de;</i>
                    </a>
                    {else /}
                    <a style="text-decoration:none" onClick="goods_show(this,{$li.id})" href="javascript:;" title="上架">
                        <i class="Hui-iconfont">&#xe603;</i>
                    </a>
                    {/if}
                    <a style="text-decoration:none" onclick="pagefull('商品信息','{:url("Shop/goodsDetail",array("id"=>$li["id"]))}')" class="ml-5" href="javascript:;" title="查看商品">
                    <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="14" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var isclick = true;
    var url = '{:url("Shop/goodsList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage='{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: true, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var search = $("#formAjax").find("#search").val();
        var cate_id = $("#formAjax").find("#cate_id").val();
        var museum_id = $("#formAjax").find("#museum_id").val();

        var str = '';
        if(search.length != '') {
            str += '&search=' + search;
        }
        if(cate_id.length != '') {
            str += '&cate_id=' + cate_id;
        }
        if(museum_id.length != '') {
            str += '&museum_id=' + museum_id;
        }
        window.location.href = '{:url("Shop/goodsList")}' + '?' + str;
    });


    /*下架*/
    function goods_hide(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $.ajax({
                url:"{:url('Shop/goodsHide')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="goods_show(this,'+id+')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe603;</i></a>');
                        $(obj).remove();
                        layer.msg('已下架!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }
    /*上架*/
    function goods_show(obj,id){
        layer.confirm('确认要上架吗？',function(index){
            $.ajax({
                url:"{:url('Shop/goodsShow')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已上架</span>');
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="goods_hide(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        $(obj).remove();
                        layer.msg('已上架!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }

    function goods_recommend(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsRecommend')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_limit(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsTimeLimit')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }
    }

    $(".sort").bind('input propertychange', function() {
        var id = $(this).parent().prev().text();
        var sort = $(this).val();
        var rule = /^[0-9]{0,10}$/;
        if(!rule.test(sort)) {
            // $(this).val('')
            alert('排序必须为数字,且不超过10位');
            return;
        }
        $.ajax({
            url:"{:url('Shop/sortGoods')}",
            type:"post",
            data:{id:id,sort:sort},
            success:function(data) {
                console.log(data);
            },
            error: function(data) {
                console.log('接口请求失败!');
            }
        })
    });

    $(document).ready(function () {
        $('#museum_id').select2();
    })

</script>