<style>

</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 视频列表 <span class="c-gray en">&gt;</span> 视频列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加视频" data-href="article-add.html" onclick="pagefull('添加视频','{:url("Video/videoAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加视频
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="40">#</th>
            <th width="120">视频图片</th>
            <th>视频标题</th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <div style="width: 80px;height: 80px;background-image: url('{$qiniu_weburl}{$li.poster}');background-position: center;background-repeat: no-repeat;background-size: 100%"></div>
                </td>
                <td>{$li.title}</td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="pagefull('视频信息','{:url("Video/videoDetail",array("id"=>$li["id"]))}')" class="ml-5" href="javascript:;" title="查看视频">
                    <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                </td>
            </tr>
            {/foreach}
        </form>
        <tr>
            <td colspan="16" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Video/videoList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage='{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: true, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    var isclick = true;

    function goods_recommend(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsRecommend')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_batch(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsBatch')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_sample(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsSample')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    function goods_mold(obj,id) {
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/goodsMold')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    // console.log(data);
                    if(data.code == 1) {
                        if(data.data == 1) {
                            $(obj).html('<span class="iconfont">&#xe612;</span>');
                        }else {
                            $(obj).html('<span class="iconfont" style="color: #bbbbbb;">&#xe612;</span>');
                        }
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                    isclick = true;
                },
                error:function(data) {
                    layer.msg('接口请求失败!',{icon:5,time:1000});
                    isclick = true;
                },
            })
        }

    }

    $(".sort").bind('input propertychange', function() {
        var id = $(this).parent().prev().text();
        var sort = $(this).val();
        var rule = /^[0-9]{0,10}$/;
        if(!rule.test(sort)) {
            // $(this).val('')
            alert('排序必须为数字,且不超过10位');
            return;
        }
        if(isclick) {
            isclick = false;
            $.ajax({
                url:"{:url('Shop/sortGoods')}",
                type:"post",
                data:{id:id,sort:sort},
                success:function(data) {
                    console.log(data);
                    isclick = true;
                },
                error: function(data) {
                    console.log('接口请求失败!');
                    isclick = true;
                }
            })
        }

    });

    $("#pcate_id").change(function () {
        var pid = $(this).val();
        $.ajax({
            url: "{:url('Shop/getCateList')}" ,
            type: 'post',
            data:{pid:pid},
            success: function(data){
                // console.log(data.data)
                if(data.code == 1) {
                    var html = '<option value="">全部(二级分类)</option>',list = data.data;
                    if(list.length > 0) {
                        for(var i=0; i <list.length;i++) {
                            html += '<option value="'+list[i].id+'">'+list[i].cate_name+'</option>';
                        }
                    }
                    $("#cate_id").html(html);

                }else {
                    layer.msg('接口异常',{icon:5,time:1000});
                }
            },
            error: function(res){
                layer.msg('接口请求失败!',{icon:5,time:1000});
                isclick = true
            }
        })
    });


    $(document).ready(function () {
        $('#shop_id').select2();
    });




</script>